.reservation {
  .infos {
    span {
    }
    h3 {
    }
    .img-container {
      img {
        width: 40px;
        height: 40px;
      }
    }
    .p-title {
    }
    .p-content {
    }
  }
  .form-container {
    .form-header {
      span {
      }
      h3 {
      }
      .img-container {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
