@font-face {
  font-family: 'font-1';
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: 'font-title';
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'font-3';
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
