$font-1: 'font-1', sans-serif;
$font-title: 'font-title', sans-serif;
$font-3: 'font-3', sans-serif;

$color1: rgb(245, 245, 245); //ok
$color2: rgb(186, 186, 186); //ok
$color3: #b97c47; //ok
$color4: rgb(33, 32, 30); //ok
$color5: black; //ok
